// region colors
$border: hsl(220, 6%, 85%); // TODO same as header
$accent: hsl(224, 41%, 29%); // TODO same as header
$inactive-bg: hsla(220, 6%, 93%, 0.92); // TODO almost same as header
$active-bg: hsl(204, 45%, 98%, 0.92);

// region dimenions
$border-rad: 7px;
$collapsed-height: 1em;

// transitions / animations
$expand-collapse-duration: 200ms;
$content-fade-duration: 400ms;
$tab-highlight-duration: 200ms;

// text style
$inactive-col: hsl(0, 0%, 45%);
$expand-hint-col: hsl(0, 0%, 60%);
$padding: 0.55em 0.5em;
$font: 100% InterVariable, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // TODO same as header

div.tabs {
    section {
        overflow: auto;
        background: $active-bg;
        border: 1px solid $border;
        border-top: none;
        border-radius: 0px 0px $border-rad $border-rad;
        pointer-events: auto;

        // expanding & collapsing (+ transition)
        div {
            transition: opacity $content-fade-duration ease;
        }

        &::before {
            content: "expand tab ⏷";
            font: $font;
            z-index: 10;
            pointer-events: none;
            position: absolute;
            color: $expand-hint-col;
            opacity: 0;
            width: 100%;
            text-align: center;
            font-size: x-small;
            transition: opacity $expand-collapse-duration ease;
        }

        max-height: 100%;
        transition: max-height $expand-collapse-duration ease;

        &.expanding {
            animation: $expand-collapse-duration ease 0s 1 normal none running expand-section;
        }

        &.collapsed {
            max-height: $collapsed-height;
            overflow: hidden;

            div {
                opacity: 0;
            }

            &::before {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }

    ul {
        display: flex;
        flex-flow: row nowrap;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        pointer-events: auto;
        z-index: 10;

        border-color: $border;
        border-style: solid;
        border-width: 0px 1px 0px 0px;

        li {
            display: flex;
            flex-grow: 1;

            border-width: 1px 0px 1px 1px;
            border-color: $border;
            border-style: solid;
            background: $inactive-bg;

            a {
                font: $font;
                color: $inactive-col;
                text-decoration: none;
                padding: $padding;
                width: 100%;
                margin-top: 2px;
                text-align: center;
            }

            // active tab highlighting (+ transition)
            transition-property: background-color, border-top-color;
            transition-duration: $tab-highlight-duration;

            &.active-tab:not(.collapsed) {
                background: $active-bg;
                border-bottom: none;
                border-top: 2px solid $accent;

                a {
                    color: $accent;
                    margin-top: 1px;
                }
            }
        }
    }
}

div.tabs.inner {
    section {
        background: none;
        border: none;
    }

    ul {
        justify-content: center;
        margin-top: 0.8em;
        border: none;

        li {
            flex-grow: 0;

            &:last-child {
                border-right: 1px solid $border;
                border-radius: 0px $border-rad $border-rad 0px;
            }

            &:first-child {
                border-radius: $border-rad 0px 0px $border-rad;
            }

            a {
                padding: 0.45em 1.2em;
            }

            &.active-tab:not(.collapsed) {
                border-bottom: 1px solid $border;
                border-top: 1px solid $border;

                a {
                    margin-top: 2px;
                }
            }
        }

    }
}

@keyframes expand-section {
    from {
        max-height: $collapsed-height;
    }

    to {
        max-height: 100%;
    }
}