// move path configuration
$dashon: 22;
$dashoff: 30;
$dashflowDuration: 0.7s;
$normalStroke: hsla(295, 86%, 62%, 0.7);
$pillbugStroke: hsla(164, 50%, 50%, 0.8);

// play area color
$boardBackground: hsl(0, 0%, 98%);

.move-path {
    stroke: $normalStroke;
    stroke-width: 11px;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: $dashon, $dashoff;
    pointer-events: none;
    animation: $dashflowDuration linear 0s infinite normal none running dashflow;

    &.Pillbug {
        stroke: $pillbugStroke;
    }
}

div#board {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    background: $boardBackground;

    div#board-panel {
        flex: 1 100%;
    }
}

@keyframes dashflow {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: $dashon + $dashoff;
    }
}