// Length of move path dashes
$dashon: 22;
$dashoff: 30;

// animation duration
$duration: 0.7s;

.move-path {
    stroke: hsla(295, 86%, 62%, 0.7);
    stroke-width: 11px;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: $dashon, $dashoff;
    pointer-events: none;
    animation: $duration linear 0s infinite normal none running dashflow;

    &.Pillbug {
        stroke: hsla(164, 39%, 45%, 0.7);
    }
}

div#board {
    // TODO currently overflows the screen in height
    display: flex;
    flex-flow: row nowrap;
    // position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100vw;

    div {
        border: 1px solid hsl(0, 0%, 70%);
        margin: -0.5px;
        flex: 1 100%; // overridden by inventory
    }
}

@keyframes dashflow {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: $dashon + $dashoff;
    }
}