// move path configuration
$dashon: 22;
$dashoff: 30;
$dashflow-duration: 0.7s;
$stroke-width: 11px;
$normal-stroke: hsla(295, 86%, 62%, 0.7);
$pillbug-stroke: hsla(164, 50%, 50%, 0.8);

// play area color
$background: hsl(0, 0%, 98%);

.move-path {
    stroke: $normal-stroke;
    stroke-width: $stroke-width;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: $dashon, $dashoff;
    pointer-events: none;
    animation: $dashflow-duration linear 0s infinite normal none running dashflow;

    &.Pillbug {
        stroke: $pillbug-stroke;
    }
}

div#board {
    display: flex;
    background: $background;
    height: 10%;
    flex-grow: 1;
}

@keyframes dashflow {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: $dashon + $dashoff;
    }
}