// inventory panel width
$inv-width: 20%;

// dashed dividing line
$panelBorder: hsl(224, 41%, 29%);

div#inventory-panel {
    display: grid;
    overflow: auto;
    flex: 1 $inv-width;

    // center whole grid vertically; note 'safe' might not be supported:
    // https://stackoverflow.com/questions/33454533/cant-scroll-to-top-of-flex-item-that-is-overflowing-container
    align-content: safe center;

    // determine # columns by screen width
    grid-template-columns: repeat(auto-fill, minmax(min(110px, 100%), 1fr));

    // add rows as needed, all fitting content
    grid-auto-flow: row;
    grid-auto-rows: min-content;
}

div#board-panel::before {
    // dividing line
    content: "";
    border-right: 2px dashed $panelBorder;
    position: absolute;
    top: 100px;
    bottom: 10px;
}