@use "sass:map";
@use "sass:color";

$bug-colors: (
    Ant: hsl(199, 88%, 50%),
    Beetle: hsl(253, 31%, 60%),
    Grasshopper: hsl(126, 60%, 46%),
    Ladybug: hsl(356, 69%, 50%),
    Mosquito: hsl(0, 0%, 63%),
    Pillbug: hsl(164, 41%, 48%),
    QueenBee: hsl(38, 97%, 60%),
    Spider: hsl(28, 56%, 40%)
);

@each $bug, $color in $bug-colors {
    ##{$bug} {
        fill: $color;
        stroke: $color;
        stroke-width: if($bug == "Pillbug", 1px, 0px);
    }
}

$tile-colors: (
    "Black": hsl(40, 6%, 20%),
    "White": hsl(40, 47%, 89%)
);

g.tile {
    transition: translate 150ms ease-in-out 0s;

    @each $player-color, $color in $tile-colors {
        .#{$player-color} {
            fill: $color;
        }
    }

    &.Selected {
        stroke: hsla(295, 86%, 42%, 0.8);
    }

    &.Normal:hover,
    &.Shaking:hover,
    &.Selected:hover {
        stroke: hsla(311, 91%, 47%, 0.65);
        cursor: pointer;
    }

    &.Shaking {
        animation: 110ms ease-in-out 0s 3 normal none running tileshake;
    }
}

#info-badge {
    stroke-width: 0;

    text {
        text-anchor: middle;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    @each $player-color, $color in $tile-colors {
        &.#{$player-color} {
            circle {
                fill: color.adjust(map.get($tile-colors,
                            if($player-color == "White", "Black", "White")), $alpha: -0.35);
            }

            text {
                fill: $color;
            }
        }
    }
}

@keyframes tileshake {
    from {
        rotate: 0deg;
    }

    22% {
        rotate: 4.5deg;
    }

    77% {
        rotate: -4.5deg;
    }

    to {
        rotate: 0deg;
    }
}