.placeholder {
    stroke: hsla(311, 91%, 52%, 0.5);
    fill: hsla(0, 0%, 100%, 0);

    &:hover {
        fill: hsla(311, 91%, 52%, 0.2);
        cursor: pointer;
    }

    &.Pillbug {
        stroke: hsla(164, 41%, 48%, 0.733);

        &:hover {
            fill: hsla(164, 41%, 48%, 0.467);
        }
    }
}