.placeholder {
    stroke: #e50bbd77;
    fill: #ffffff00;

    &:hover {
        fill: #e50bbd33;
        cursor: pointer;
    }

    &.pillbug {
        stroke: #49ad92bb;

        &:hover {
            fill: #49ad9277;
        }
    }
}