// stroke style
$stroke-width: 3px;
$normal-stroke: hsla(311, 91%, 52%, 0.5);
$pillbug-stroke: hsla(164, 41%, 48%, 0.733);

// fill colors
$normal-fill: hsla(311, 91%, 52%, 0.2);
$pillbug-fill: hsla(164, 41%, 48%, 0.467);

.placeholder {
    stroke: $normal-stroke;
    stroke-width: $stroke-width;
    fill: hsla(0, 0%, 100%, 0); // fill with transparency to detect hover

    &:hover {
        fill: $normal-fill;
        cursor: pointer;
    }

    &.Pillbug {
        stroke: $pillbug-stroke;

        &:hover {
            fill: $pillbug-fill;
        }
    }
}