@use "sass:map";
@use "sass:color";

@use "@/client/styles/Tile";

// animation controls
$duration: 0.6s;
$delay: 40%;

.spinner {
    animation: rotategroup $duration * 6 step-start 0s infinite normal forwards;

    use {
        fill: color.adjust(map.get(Tile.$tile-colors, "Black"), $alpha: -0.1);
    }

    .rolling {
        animation: hexroll 0.6s cubic-bezier(.55,.06,.68,.19) 0s infinite normal forwards;
    }
}

@keyframes hexroll {
    from {
        rotate: 0deg;
    }

    #{$delay} {
        rotate: 0deg;
    }

    to {
        rotate: 120deg;
    }
}

@keyframes rotategroup {
    @for $i from 0 through 5 {
        #{$i * calc(100 / 6) + "%"} {
            rotate: 60deg * $i;
        }
    }
}