// region colors
$border: hsl(220, 6%, 85%); // TODO same as header
$accent: hsl(224, 41%, 29%); // TODO same as header
$inactive-bg: hsla(220, 6%, 95%, 0.92); // TODO same as header
$active-bg: hsl(204, 45%, 98%, 0.92);

// region dimenions
$border-rad: 7px;
$collapsed-height: 1em;

// transitions / animations
$expand-collapse-duration: 150ms;
$content-fade-duration: 400ms;
$tab-highlight-duration: 150ms;

// text style
$inactive-col: hsl(0, 0%, 33%);
$expand-hint-col: hsl(0, 0%, 60%);
$padding: 0.55em 0.5em;
$font: 95% InterVariable, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // TODO same as header

div.tabs {
    &>section {
        overflow: auto;
        background: $active-bg;
        border: 1px solid $border;
        border-top: none;
        border-radius: 0px 0px $border-rad $border-rad;
        pointer-events: auto;

        // expanding & collapsing (+ transition)
        &>* {
            margin-top: 0;
            transition: opacity $content-fade-duration ease;
        }

        &::before {
            content: "expand tab â·";
            font: $font;
            pointer-events: none;
            position: absolute;
            color: $expand-hint-col;
            opacity: 0;
            width: 100%;
            text-align: center;
            font-size: x-small;
            transition: opacity $expand-collapse-duration ease;
        }

        max-height: 100%;
        transition: max-height $expand-collapse-duration ease;

        &.expanding {
            animation: $expand-collapse-duration ease 0s 1 normal none running expand-section;
        }

        &.collapsed {
            max-height: $collapsed-height;
            overflow: hidden;

            &>* {
                opacity: 0;
                pointer-events: none;
            }

            &::before {
                opacity: 1;
            }
        }
    }

    ul {
        display: flex;
        flex-flow: row nowrap;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        pointer-events: auto;

        border-color: $border;
        border-style: solid;
        border-width: 0px 1px 0px 0px;

        li {
            display: flex;
            flex-grow: 1;

            border-width: 1px 0px 1px 1px;
            border-color: $border;
            border-style: solid;
            background: $inactive-bg;

            a {
                padding: $padding;
                width: 100%;
                text-align: center;
                text-decoration: none;
                color: $inactive-col;
                font: $font;
            }

            // active tab highlighting (+ transition)
            transition-property: background-color, border-top-color;
            transition-duration: $tab-highlight-duration;

            &.active-tab:not(.collapsed) {
                background: $active-bg;
                border-bottom: none;
                border-top: 2px solid $accent;

                a {
                    color: $accent;
                    margin-top: -1px;
                }
            }
        }
    }
}

@keyframes expand-section {
    from {
        max-height: $collapsed-height;
    }

    to {
        max-height: 100%;
    }
}