@use "sass:map";
@use "sass:color";

// info badge styling
$badge-font: bold 20px Arial, Helvetica, sans-serif;

// bug & tile colors
$bug-colors: (
    Ant: hsl(199, 88%, 50%),
    Beetle: hsl(253, 31%, 60%),
    Grasshopper: hsl(126, 60%, 46%),
    Ladybug: hsl(356, 69%, 50%),
    Mosquito: hsl(0, 0%, 63%),
    Pillbug: hsl(164, 41%, 48%),
    QueenBee: hsl(38, 97%, 60%),
    Spider: hsl(28, 56%, 40%)
);

$tile-colors: (
    "Black": hsl(40, 6%, 20%),
    "White": hsl(40, 47%, 89%)
);

// tile outlines
$tile-passive-stroke-width: 1px;
$tile-highlighted-stroke-width: 6px;

$tile-passive-stroke: hsl(224, 10%, 55%);
$tile-selected-stroke: hsla(295, 86%, 42%, 0.8);
$tile-hover-stroke: hsla(311, 91%, 47%, 0.65);

@each $bug, $color in $bug-colors {
    ##{$bug} {
        fill: $color;
        stroke: $color;
        stroke-width: if($bug == "Pillbug", 1px, 0px);
    }
}

g.tile {
    stroke: $tile-passive-stroke;
    stroke-width: $tile-passive-stroke-width;

    @each $player-color, $color in $tile-colors {
        .#{$player-color} {
            fill: $color;
        }
    }

    &.Dropping {
        animation: 150ms ease-out 0s 1 normal none running tiledrop;
    }

    &.Sliding { // tileslide keyframes are defined by Tile component
        animation: 150ms ease-in-out 0s 1 normal none running tileslide;
    }

    &.Shaking {
        animation: 110ms ease-in-out 0s 3 normal none running tileshake;
    }

    &.Selected {
        stroke-width: $tile-highlighted-stroke-width;
        stroke: $tile-selected-stroke;
    }

    &:not(.Inactive):hover {
        stroke-width: $tile-highlighted-stroke-width;
        stroke: $tile-hover-stroke;
        cursor: pointer;
    }
}

#info-badge {
    stroke-width: 0;

    text {
        text-anchor: middle;
        font: $badge-font;
    }

    @each $player-color, $color in $tile-colors {
        &.#{$player-color} {
            circle {
                fill: color.adjust(map.get($tile-colors,
                            if($player-color == "White", "Black", "White")), $alpha: -0.35);
            }

            text {
                fill: $color;
            }
        }
    }
}

@keyframes tileshake {
    from {
        rotate: 0deg;
    }

    22% {
        rotate: 4.5deg;
    }

    77% {
        rotate: -4.5deg;
    }

    to {
        rotate: 0deg;
    }
}

@keyframes tiledrop {
    from {
        scale: 1.3;
    }

    to {
        scale: 1;
    }
}